In [ ]:
# EDA Notebook for NFL QB TD Predictor 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Set styling
sns.set(style="whitegrid")
plt.rcParams['figure.figsize'] = (10, 6)

# Load Data
game_logs = pd.read_csv('../data/raw/Game_Logs_Quarterback.csv')
career_stats = pd.read_csv('../data/raw/Career_Stats_Passing.csv')
basic_stats = pd.read_csv('../data/raw/Basic_Stats.csv')

# Preview
print("Game Logs Shape:", game_logs.shape)
print("Career Stats Shape:", career_stats.shape)
print("Basic Stats Shape:", basic_stats.shape)

display(game_logs.head())
display(career_stats.head())
display(basic_stats.head())

Game Logs Shape: (40247, 29)
Career Stats Shape: (8525, 23)
Basic Stats Shape: (17172, 16)

,Player Id,Name,Position,Year,Season,Week,Game Date,Home or Away,Opponent,Outcome,...,Ints,Sacks,Sacked Yards Lost,Passer Rating,Rushing Attempts,Rushing Yards,Yards Per Carry,Rushing TDs,Fumbles,Fumbles Lost
0,jaredzabransky/2495791,"Zabransky, Jared",NaN,2007,Preseason,1,08/11,Home,CHI,L,...,--,--,--,0.0,--,--,--,--,--,--
1,jaredzabransky/2495791,"Zabransky, Jared",NaN,2007,Preseason,2,08/18,Away,ARI,W,...,0,0,0,46.9,--,--,--,--,--,--
2,jaredzabransky/2495791,"Zabransky, Jared",NaN,2007,Preseason,3,08/25,Home,DAL,W,...,--,--,--,0.0,--,--,--,--,--,--
3,jaredzabransky/2495791,"Zabransky, Jared",NaN,2007,Preseason,4,08/30,Away,TB,L,...,1,2,13,50.8,2,17,8.5,0,--,--
4,billdemory/2512778,"Demory, Bill",NaN,1974,Regular Season,1,09/15,Away,KC,L,...,--,--,--,0.0,--,--,--,--,--,--

,Player Id,Name,Position,Year,Team,Games Played,Passes Attempted,Passes Completed,Completion Percentage,Pass Attempts Per Game,...,TD Passes,Percentage of TDs per Attempts,Ints,Int Rate,Longest Pass,Passes Longer than 20 Yards,Passes Longer than 40 Yards,Sacks,Sacked Yards Lost,Passer Rating
0,tomfarris/2513861,"Farris, Tom",NaN,1948,Chicago Rockets,0,--,--,--,0.0,...,--,--,--,--,--,--,--,--,--,0.0
1,tomfarris/2513861,"Farris, Tom",NaN,1947,Chicago Bears,9,2,0,0.0,0.2,...,0,0.0,0,0.0,--,0,0,0,0,39.6
2,tomfarris/2513861,"Farris, Tom",NaN,1946,Chicago Bears,11,21,8,38.1,1.9,...,1,4.8,2,9.5,--,0,0,0,0,31.5
3,billdemory/2512778,"Demory, Bill",NaN,1974,New York Jets,1,--,--,--,0.0,...,--,--,--,--,--,--,--,--,--,0.0
4,billdemory/2512778,"Demory, Bill",NaN,1973,New York Jets,6,39,12,30.8,6.5,...,2,5.1,8,20.5,--,0,0,8,73,22.2

,Age,Birth Place,Birthday,College,Current Status,Current Team,Experience,Height (inches),High School,High School Location,Name,Number,Player Id,Position,Weight (lbs),Years Played
0,NaN,"Grand Rapids , MI",5/23/1921,Notre Dame,Retired,NaN,3 Seasons,71.0,NaN,NaN,"Evans, Fred",NaN,fredevans/2513736,NaN,185.0,1946 - 1948
1,NaN,"Dayton , OH",12/21/1930,Dayton,Retired,NaN,1 Season,70.0,NaN,NaN,"Raiff, Jim",NaN,jimraiff/2523700,NaN,235.0,1954 - 1954
2,56.0,"Temple , TX",9/11/1960,Louisiana Tech,Retired,NaN,1 Season,74.0,NaN,NaN,"Fowler, Bobby",NaN,bobbyfowler/2514295,NaN,230.0,1985 - 1985
3,30.0,"New Orleans , LA",9/30/1986,LSU,Retired,NaN,5 Seasons,73.0,NaN,NaN,"Johnson, Quinn",NaN,quinnjohnson/79593,NaN,255.0,2009 - 2013
4,25.0,"Detroit , MI",3/31/1992,Central Michigan,Active,Pittsburgh Steelers,3rd season,77.0,Clintondale HS,"Clinton Twp.,Macomb Co., MI","Walton, L.T.",96.0,l.t.walton/2552444,DE,305.0,NaN

In [4]:
# Check for nulls
print("Game Logs Nulls:")
print(game_logs.isnull().sum())
print("\nCareer Stats Nulls:")
print(career_stats.isnull().sum())
print("\nBasic Stats Nulls:")
print(basic_stats.isnull().sum())

# Unique QBs and Opponents
print("\nUnique QBs in game logs:", game_logs['Name'].nunique())
print("Unique Opponents:", game_logs['Opponent'].nunique())

Game Logs Nulls:
Player Id                        0
Name                             0
Position                     30153
Year                             0
Season                           0
Week                             0
Game Date                        0
Home or Away                     0
Opponent                         0
Outcome                          0
Score                            0
Games Played                     0
Games Started                    0
Passes Completed                 0
Passes Attempted                 0
Completion Percentage            0
Passing Yards                    0
Passing Yards Per Attempt        0
TD Passes                        0
Ints                             0
Sacks                            0
Sacked Yards Lost                0
Passer Rating                    0
Rushing Attempts                 0
Rushing Yards                    0
Yards Per Carry                  0
Rushing TDs                      0
Fumbles                          0
Fumbles Lost                     0
dtype: int64

Career Stats Nulls:
Player Id                            0
Name                                 0
Position                          7414
Year                                 0
Team                                 0
Games Played                         0
Passes Attempted                     0
Passes Completed                     0
Completion Percentage                0
Pass Attempts Per Game               0
Passing Yards                        0
Passing Yards Per Attempt            0
Passing Yards Per Game               0
TD Passes                            0
Percentage of TDs per Attempts       0
Ints                                 0
Int Rate                             0
Longest Pass                         0
Passes Longer than 20 Yards          0
Passes Longer than 40 Yards          0
Sacks                                0
Sacked Yards Lost                    0
Passer Rating                        0
dtype: int64

Basic Stats Nulls:
Age                      3668
Birth Place              2378
Birthday                  337
College                    39
Current Status              0
Current Team            14076
Experience                 39
Height (inches)           146
High School             14658
High School Location    14662
Name                        0
Number                  15464
Player Id                   0
Position                14076
Weight (lbs)               51
Years Played             3096
dtype: int64

Unique QBs in game logs: 517
Unique Opponents: 43